/* ==========================================================================
Settings - Colors
========================================================================== */

$color-gray-0: hsla(210, 22%, 96%, 1); 
$color-gray-1: hsla(200, 4%, 85%, 1); 
$color-gray-2: hsla(210, 1%, 45%, 1); 
$color-gray-3: hsla(180, 1%, 26%, 1); 
$color-white: hsla(0, 0%, 100%, 1); 
