/* ==========================================================================
Settings - Typography
========================================================================== */

$font-size-heading:  3.75rem;
$font-size-subheading: 2.5rem;
$font-size-paragraph: 1.375rem;
$font-size-button: 	1.125rem;
$font-weight-bold: 700;
$font-weight-regular: 400;