
/* ==========================================================================
  Element - Buttons
========================================================================== */

Button {
  @include flex(row, center);
  @include fonts(button, $font-weight-regular);
  border-radius: $border-radius;
  cursor: pointer;
  &:disabled {
    cursor:grab;
  }
}

