/* ==========================================================================
  Elements - Defaults
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {  
  font-family: Helvetica, sans-serif;
  line-height: 1;
}

a, Link {
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

ol, ul {
	list-style: none;
}

button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  text-transform: none;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}