/* ==========================================================================
  Elements - Defaults
========================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  overflow:   scroll;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

body {  
  font-family: Helvetica, sans-serif;
  line-height: 1;
}

a, Link {
  text-decoration: none;
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

ol, ul {
	list-style: none;
}

button, input {
  border: 0;
  padding: 0;
  appearance: none;
  background: none;
  outline: none;
  text-transform: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}