/* ==========================================================================
  Elements - Headings
========================================================================== */

h1 {
  @include fonts(heading)
}

h2 {
  @include fonts(subheading)
}

h3 {
  @include fonts(paragraph)
}

p {
  @include fonts(paragraph, $font-weight-bold)
}

a {
  @include fonts(link, $font-weight-bold);
  color: $color-gray-3;
}