/* ==========================================================================
  Elements - Landmarks
========================================================================== */

body {
  background: $color-gray-0;
}

header {
  @include flex(row, space-between);
  @include mediaQueries(overflow);
}

main {
  @include mediaQueries(overflow);
  overflow-y: auto;
  width: 100vw;
  padding-bottom: 3rem;
}

article {
  @include flex(column, center);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: $color-white;
}

form {
  @include flex(column, center)
}

section {
  width: 100%;
  height: 100%;
}
