/* ==========================================================================
  Tools - KeyFrames
========================================================================== */

@keyframes grow-left {
  from {box-shadow: none;}
  to {
    box-shadow: $box-shadow-2-right;
    transform: translateX(-10rem);
  }
}

@keyframes grow-right {
  from {box-shadow: none;}
  to {
    box-shadow: $box-shadow-2-left;
    transform: translateX(10rem);
  }
}

@keyframes shrink-left {
  from {
    box-shadow: $box-shadow-2-right;
    transform: translateX(-10rem);
  }
  75% {box-shadow: $box-shadow-2-right;}
  to {
    transform: translateX(0rem);
    box-shadow: none; 
  }
}

@keyframes shrink-right {
  from {
    transform: translateX(10rem);
    box-shadow: $box-shadow-2-left;
  }
  75% {box-shadow: $box-shadow-2-left;}
  to {
    transform: translateX(0rem);
    box-shadow: none; 
  }
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
