/* ==========================================================================
  Tools - Media Queries
========================================================================== */

@mixin mediaQueries($property) {
  @include mobile($property);
  @include small-screen($property);
  @include tablet($property);
  @include desktop($property);
}

@mixin mobile($property) {
  @media only screen and (min-width: 320px)  {
    @content;
    transition: 100ms;
    @if $property == overflow {
      overflow-x: hidden;
    }
    @if $property == padding {
      padding: 0 .75rem;
    }
    @if $property == grid {
      @include grid(mobile)
    }
    @if $property == navbar {
      transition: 500ms;
      margin: 1.75rem;
    }
    @if $property == burger-visability {
      right: 10%;
      transition: 500ms;
      transform: scale(1);
      opacity: 1;
    }
    @if $property == nav-visability{
      transition: 200ms;
      opacity: 0;
      transform: scale(.5);
    }
    @if $property == card-size {
      height: 32rem;
      width: 22rem;
    }
    @if $property == portal {
      width: 100vw;
      height: 100%;
    }
    @if $property == input-width {
      width: 20rem;
    }
  }
}

@mixin small-screen($property) {
  @media only screen and (max-width: 600px) {
    @if $property == burger-visability {
      right: 10%;
      transition: 500ms;
      transform: scale(1);
      opacity: 1;
    }
    @if $property == nav-visability{
      transition: 200ms;
      opacity: 0;
      transform: scale(.5);
    }
  }
}

@mixin tablet($property) { 
  @media only screen and (min-width: 768px) {
    @content;
    transition: 100ms;
    @if $property == padding {
      padding: 0 1.5rem;
    }
    @if $property == grid {
      @include grid(tablet)
    }
    @if $property == navbar {
      transition: 500ms;
      margin: 2.5rem;
    }
    @if $property == burger-visability {
      transition: 200ms;
      opacity: 0;
      transform: scale(.5);
    }
    @if $property == nav-visability{
      transition: 200ms;
      transform: scale(1);
      opacity: 1;
    }
    @if $property == card-size {
      height: 32rem;
      width: 22rem;
    }
    @if $property == portal {
      width: auto;
      height: 95vh;
    }
    @if $property == input-width {
      width: 31rem;
    }
  }
}

@mixin desktop($property) {
  @media only screen and (min-width: 1025px) {
    @content;
    transition: 100ms;
    @if $property == padding {
      padding: 0 6.25rem;
    }
    @if $property == grid {
      @include grid(desktop)
    }
    @if $property == navbar {
      transition: 500ms;
      margin: 5rem;
    }
    @if $property == burger-visability {
      transition: 200ms;
      transform: scale(.5);
      opacity: 0;
    }
    @if $property == nav-visability {
      transition: 200ms;
      opacity: 1;
    }
    @if $property == card-size {
      height: 32rem;
      width: 24rem;
    }
    @if $property == portal {
      width: auto;
      height: 95vh;
    }
    @if $property == input-width {
      width: 31rem;
      
    }
  }
}
