/* ==========================================================================
  Tools - Media Queries
========================================================================== */

@mixin mediaQueries($property) {
  @include mobile($property);
  @include small-screen($property);
  @include tablet($property);
  @include desktop($property);
}

@mixin mobile($property) {
  @media only screen and (min-width: 320px)  {
    @content;
    transition: 100ms;
    @if $property == overflow {
      overflow-x: hidden;
    }
    @if $property == padding {
      padding: 0;
    }
    @if $property == grid {
      @include grid(mobile)
    }
    @if $property == navbar {
      transition: 500ms;
      margin: 1.75rem;
    }
    @if $property == burger-visability {
      right: 10%;
      opacity: 1;
      transform: scale(1);
      transition: 500ms;
    }
    @if $property == nav-visability{
      opacity: 0;
      transform: scale(.5);
      transition: 200ms;
  }
    @if $property == card-size {
      width: 22rem;
      height: 32rem;
    }
    @if $property == portal {
      overflow: hidden;
      border-radius: 0;
      width: 100vw;
      height: 100vh;
    }
    @if $property == input-width {
      width: 20rem;
    }
    @if $property == web-title-position {
      top: 37%;
    }
    @if $property == backdrop-position {
      top: 34%;
    }
  }
}

@mixin small-screen($property) {
  @media only screen and (max-width: 600px) {
    @if $property == burger-visability {
      right: 10%;
      opacity: 1;
      transform: scale(1);
      transition: 500ms;
    }
    @if $property == nav-visability{
      opacity: 0;
      transform: scale(.5);
      transition: 200ms;
    }
  }
}

@mixin tablet($property) { 
  @media only screen and (min-width: 768px) {
    @content;
    transition: 100ms;
    @if $property == overflow {
      overflow-x: auto;
    }
    @if $property == padding {
      padding: 1rem;
    }
    @if $property == grid {
      @include grid(tablet)
    }
    @if $property == navbar {
      transition: 500ms;
      margin: 2.5rem;
    }
    @if $property == burger-visability {
      opacity: 0;
      transform: scale(.5);
      transition: 200ms;
    }
    @if $property == nav-visability{
      transition: 200ms;
      transform: scale(1);
      opacity: 1;
    }
    @if $property == card-size {
      width: 22rem;
      height: 32rem;
    }
    @if $property == portal {
      border-radius: $border-radius;
      width: auto;
      height: 95vh; 
    }
    @if $property == input-width {
      width: 31rem;
    }
    @if $property == web-title-position {
      top: 37%;
    }
    @if $property == backdrop-position {
      top: 33%;
    }
  }
}

@mixin desktop($property) {
  @media only screen and (min-width: 1025px) {
    @content;
    transition: 100ms;
    @if $property == overflow {
      overflow: auto;
    }
    @if $property == padding {
      padding: 1rem;
    }
    @if $property == grid {
      @include grid(desktop)
    }
    @if $property == navbar {
      transition: 500ms;
      margin-right: 30rem;
    }
    @if $property == burger-visability {
      transform: scale(.5);
      opacity: 0;
      transition: 200ms;
    }
    @if $property == nav-visability {
      opacity: 1;
      transition: 200ms;
    }
    @if $property == card-size {
      height: 32rem;
      width: 24rem;
    }
    @if $property == portal {
      border-radius: $border-radius;
      width: auto;
      height: 95vh;
    }
    @if $property == input-width {
      width: 31rem;
    }
    @if $property == web-title-position {
      top: 36%;
    }
    @if $property == backdrop-position {
      top: 33%;
    }
  }
}
