/* ==========================================================================
  Tools - Media Queries
========================================================================== */

@mixin mediaQueries($property) {
  @include mobile($property);
  @include tablet($property);
  @include desktop($property);
}

@mixin mobile($property) {
  @media only screen and (min-width: 320px) {
    @content;
    transition: 100ms;
    @if $property == grid {
      @include grid(mobile)
    }
    @if $property == visability {
      display: none;
    }
    @if $property == navbar {
      margin: 1.75rem;
    }
  }
}

@mixin tablet($property) { 
  @media only screen and (min-width: 768px) {
    @content;
    transition: 100ms;
    @if $property == grid {
      @include grid(tablet)
    }
    @if $property == visability {
      display: initial;
    }
    @if $property == navbar {
          margin: 2.5rem;
    }
  }
}

@mixin desktop($property) {
  @media only screen and (min-width: 1024px) {
    @content;
    transition: 100ms;
    @if $property == grid {
      @include grid(desktop)
    }
    @if $property == navbar {
      margin: 5rem;
    }
  }
}