.burger-menu {
  position: relative;
  transition: 250ms ease-out;
  width: 2rem;
  height: .625rem;
    .line {
    transition: 500ms;
    width: 2rem;
    height: 0.125rem;
    background: $color-gray-3;
      &.one {
        position: absolute;
        top: .375rem;
      }
      &.two {
        opacity: 1;
      }
      &.three {
        position: absolute;
        top: -.375rem;
      }
    }
    .focus {
      transition: 500ms;
      &.one {
        position: absolute;
        top: 0;
        transform:rotate(45deg);
        }
      &.two {
        opacity: 0;
        transform:rotate(360deg);
      }
      &.three {
        top: 0;
        transform:rotate(135deg);
      }
    }
  }
