.button{
  @include fonts(button, $font-weight-bold);
  transition: 200ms;
  &.primary {
    padding:  1rem 3rem;
    background: $color-gray-3;
    color: $color-white;
    &.vote, &.admin {
      width: 9.5rem;
      height: 3.5rem;
      padding: unset;
    }
    &:hover {
      transition: 200ms;
      background: $color-gray-2;
    }
    &:active {
      background: $color-gray-3;
      color: $color-white;
    }
    &.disable {
      background: $color-gray-1;
      color: $color-gray-3;
      opacity: 0.4;
      min-width: 3rem;
    }
  } 
  &.secondary {
    border: 2px solid $color-gray-3;
    padding:  1rem 3rem;
    color: $color-gray-3;
    &:hover {
      transition: 200ms;
      background: $color-gray-0;
    }
    &:active {
      background: $color-gray-3;
      color: $color-white;
    }   
    &.disable {
      background: $color-gray-1;
      color: $color-gray-3;
    }
  } 

}

