.button{
  transition: 200ms;
  &.primary {
    padding:  1rem 3rem;
    background: $color-gray-3;
    color: $color-white;
    &:hover {
      transition: 200ms;
      background: $color-gray-2;
    }
    &:active {
      background: $color-gray-3;
      color: $color-white;
    }
    &.disable {
      background: $color-gray-1;
      color: $color-gray-3;
    }
  } 
  &.secondary {
    border: 2px solid $color-gray-3;
    padding:  1rem 3rem;
    color: $color-gray-3;
    &:hover {
      transition: 200ms;
      background: $color-gray-0;
    }
    &:active {
      background: $color-gray-3;
      color: $color-white;
    }
    &.disable {
      background: $color-gray-1;
      color: $color-gray-3;
    }
  } 
}