/* ==========================================================================
  Component - Loading
========================================================================== */

.load {
  @include flex(row, center);
  z-index: 0;
  box-shadow: $box-shadow;
  height: 100vh;
  width: 100vw;
  .website-title {
    @include mediaQueries(web-title-position);
    position: fixed;
    opacity: 0;
    animation: fade-in 1s linear 3.1s normal forwards;
    font-size: 2.2rem;
  }
  .logo {
    position: absolute;
  }
  .backdrop {
    @include mediaQueries(backdrop-position);
    position: fixed;
    z-index: -1;
    opacity: 0;
    animation: fade-in 5s linear 3s normal forwards;
    box-shadow: $box-shadow-1;
    width:18rem;
    height: 12rem;
    background: $color-transparent;
  }
  .box {
    z-index: 3;
    animation: shrink 1s linear 5s normal forwards;
    width: 15rem;
    height: 20rem;
    background: $color-gray-0;
    &.one {
      animation: grow-left 2s linear 500ms normal forwards,
      shrink-left 1s linear 4.7s normal forwards;
    } 
    &.two {
      animation: grow-right 2s linear 500ms normal forwards,
      shrink-right 1s linear 4.7s normal forwards;
    } 
      
    }
  } 
