.login-board {
  @include flex(column, center);
  width: 100vw;
  height: 100vh;
  .portal {
    @include mediaQueries(portal);
    @include mediaQueries(overflow);
    @include flex(column, space-around);
    background: $color-white;
    padding: 3.75rem 4rem;
    .logo {
      margin-bottom: 2rem;
    }
    background: $color-white;
    .form-inputs {
      @include flex(column, space-around);
      height: 6.5rem;
      .input-name {
        margin-left: 1.5rem;
        padding: 0 .2rem;
      }
     .input-label {
        @include flex(column, center, flex-start);
        @include mediaQueries(input-width);
        border: 1px solid $color-gray-1;
        border-radius: $border-radius;
        height: 4rem;
        color: $color-gray-2;
        > .inner-input {
          @include fonts(paragraph, $font-weight-regular);
          width: 100%;
          padding: 0 1rem .3rem 1rem;
          color: $color-gray-3;
        }
      }
    }
    .buttons-container {
      @include flex(column, space-around);
      height: 9rem;
      > .button {
          @extend Button;
          @include mediaQueries(input-width);
      }
    }
  }
}
