.login-board {
  @include flex(column, center);
  width: 100vw;
  height: 100vh;
  .portal {
    padding: 4rem 0;
    height: 36;
    .logo {
      margin-bottom: 2rem;
    }
    @include flex(column, space-around);
    width: 38rem;
    background: $color-white;
    .form-inputs {
      @include flex(column, space-around);
      height: 6.5rem;
     .input-name {
       margin-left: 1.5rem;
       padding: 0 .2rem;
     }
     .input-label {
        border: 1px solid $color-gray-1;
        border-radius: $border-radius;
        width: 31rem;
        height: 4rem;
        color: $color-gray-2;
      }
    }
    .buttons-container {
      @include flex(column, space-around);
      height: 9rem;
      > .button {
          width: 31rem;
      }
    }
  }
}
