/* ==========================================================================
  Component - NavBar
========================================================================== */

.main-header {
  @include flex (row, space-between);
  position: relative;
  height: 4rem;
  width: 100%;
  background: $color-white;
  .left-container, .right-container {
    @include flex (row, space-between);
    @include mediaQueries(navbar);
    &.left-container {
      .logo {
        margin-right: 3.5rem;
        width: 5rem;
      }
      .nav-container {
        @include flex(row, space-between);
        @include mediaQueries(nav-visability);
        transition: 500ms;
        width: 10rem;
      }
    }
    &.right-container {
      @include flex(column, center);
      .burger-menu {
        @include mediaQueries(burger-visability);
        transition: 500ms;
        position: absolute;
        top: 50%;
        right: 50%;
      }
      .nav-container {
        > a {
          @include mediaQueries(nav-visability);
          @include fonts(bold-link, $font-weight-regular);;
        margin: 0 1.5rem;
        white-space: nowrap;
        color: $color-gray-2;
      }}
    }
  } 
}