.robot-form {
  @include flex(column, space-around);
  height: 100%;
  width: 100%;
  padding: 0 .25rem;
  .form-inputs {
    width: 100%;
    .robot-label {
      margin: 3rem 0;
      margin-top: 5rem;
      width: 100%;
      .input-label {
        width: 100%;
      }  
    }    
  }
  .file-container {
    @include flex(column, center);
    margin-top: 1.5rem 0;
    border: 2px dashed $color-gray-2;
    border-radius: $border-radius;
    width: 100%;
    min-height: 13rem;
    background: $color-gray-0;
    cursor: pointer;
    .file-label {
      @include flex(column, space-around);
      height: 5rem;
      .upload-icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
    .file-input {
      display: none;
    }
  }
  .buttons-container {
    @include flex(row, space-between);
  }
}